<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <form method="post">
      {% csrf_token %}
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" required /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" required /><br />
      <label for="password_confirm">Confirm Password:</label><br />
      <input
        type="password"
        id="password_confirm"
        name="password_confirm"
        required
      /><br />
      <input type="submit" value="Register" />
    </form>
  </body>
</html>
