{% extends "events/layout.html" %}
{% block title %}Add Event{% endblock %}
{% block content %}

<div class="container py-5">
  <h1 class="mb-5">Add Event</h1>
  <form action="{% url 'add_events' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name"
        name="title" />
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Date & Time</label>
      <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" name="date" />
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlTextarea1" class="form-label">Location</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your location"
        name="location"></textarea>
    </div>
    <button class="btn btn-primary">Create Event</button>
  </form>
</div>
{% endblock %}
