{% extends "events/layout.html" %}
{% block title %}Add Event{% endblock %}
{% block content %}

<div class="container py-5">
  <h1 class="mb-5">Add Event</h1>
  <form action="{% url 'add_events' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter event name"
        name="title" required />
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter event description" name="description" required></textarea>
    </div>
    <div class="mb-3 fw-bold">
      <label for="maxParticipants" class="form-label">Max Participants</label>
      <input type="number" class="form-control" id="maxParticipants" name="max_participants" min="1" placeholder="Enter maximum number of participants" required/>
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Date</label>
      <input type="date" class="form-control" id="exampleFormControlInput1" name="date" value="{{ date|date:'Y-m-d' }}" required/>
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Time</label>
      <input type="time" class="form-control" id="exampleFormControlInput1" name="time" value="{{ date|time:'H:i' }}" required/>
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlTextarea1" class="form-label">Location</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Enter event location" required
        name="location"></textarea>
    </div>
    <button class="btn btn-primary mb-5">Create Event</button>
  </form>
</div>
{% endblock %}
