{% extends "events/layout.html" %}
{% block title %}Edit Event{% endblock %}
{% block content %}

<div class="container py-5 mb-5 px-4">
  <h1 class="mb-5">Edit Event</h1>
  <form action="{% url 'edit_events' event.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter event name" value="{{ event.title }}" required
        name="title" />
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter event details" name="description" required>{{ event.description }}</textarea>
    </div>
    <div class="mb-3 fw-bold">
      <label for="maxParticipants" class="form-label">Max Participants</label>
      <input type="number" class="form-control" id="maxParticipants" name="max_participants" min="1" placeholder="Enter maximum number of participants" required value="{{ event.max_participants }}"/>
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Date</label>
      <input type="date" class="form-control" id="exampleFormControlInput1" name="date" value="{{ event.date|date:'Y-m-d' }}" required/>
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlInput1" class="form-label">Time</label>
      <input type="time" class="form-control" id="exampleFormControlInput1" name="time" value="{{ event.date|time:'H:i' }}" required/>
    </div>
    <div class="mb-3 fw-bold">
      <label for="exampleFormControlTextarea1" class="form-label">Location</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Enter event location" name="location" required>{{ event.location }}</textarea>
    </div>
    <button class="btn btn-primary">Edit Event</button>
  </form>
</div>
{% endblock %}
