{% extends "events/layout.html" %}
{% block title %}EventBud{% endblock %}
{% block content %}

<!-- events  -->
<section class="px-lg-5 py-5 text-center">
  <div class="container mb-5">
    <div class="text-center">
      <h1 class="fs-3 fw-bold">Upcoming Events</h1>
    </div>
      <div class="col">
        {% if user.is_authenticated %}
        <a href="{% url 'add_events' %}">
          <button type="button" class="btn btn-primary py-2 px-4 mt-3">
            Add Event
          </button>
        </a>
        
        {% endif %}
      </div>
    </div>
  
    {% for event in events %}
    <div class="container my-4 border border-dark border-2 bg-light p-3">
      <div class="row align-items-center">
        <div class="col-lg-8 text-lg-start">
          <h2 class="fs-4 mb-2">{{ event.title }}</h2>
          <p class="mb-1"><strong>Date:</strong> {{ event.date }}</p>
          <p class="mb-1"><strong>Location:</strong> {{ event.location }}</p> 
          <p><strong>Seats:</strong> {{ event.num_participants }}/{{ event.max_participants }}</p>
        </div>
        <div class="col-lg-4 text-lg-end mt-3 mt-md-0">
          <a href="{% url 'view_events' event.id %}" class="btn btn-outline-primary py-2 px-4 me-2">View</a>
          {% if user.is_authenticated and event.user == user %}
          <a href="{% url 'cancel_events' event.id %}" class="btn btn-outline-primary py-2 px-4 me-2">Cancel</a>
          <a href="{% url 'edit_events' event.id %}" class="btn btn-outline-primary py-2 px-4">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p>No Upcoming Events Available</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
