{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Event List</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'events/style.css' %}" />
  </head>

  <body>
    <!-- navbar  -->
    <nav
      class="navbar navbar-expand-lg bg-primary px-md-5"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Events</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                More Events
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success bg-dark" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- events section  -->
    <section class="px-lg-5 py-5 text-center">
      <div class="container mb-5">
        <div class="d-flex justify-content-center align-items-center">
          <div class="col">
            <h1 class="fs-3 fw-bold">Upcoming Events You Created</h1>
          </div>
          <div class="col">
            <a href="events/add_events.html"
              ><button type="button" class="btn btn-primary py-2 px-4">
                Add Event
              </button></a
            >
          </div>
        </div>
      </div>

      {% for event in events %}
      <div class="container">
        <div
          class="d-flex justify-content-evenly align-items-center event-gap lh-1 mb-4"
        >
          <div class="text-start">
            <h2 class="fs-4">{{ event.title }}</h2>
            <p>{{ event.date }}</p>
            <p>{{ event.location }}</p>
          </div>
          <div>
            <div class="btn btn-outline-primary py-2 px-5 marginbtn">View</div>
          </div>
        </div>
        {% empty %}
        <p>No events available.</p>
        {% endfor %}
      </div>
    </section>

    <footer>
      <footer>
        <div class="text-center">
          <a href="#" class="">View Past Events</a>
        </div>
      </footer>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
