{% extends "events/layout.html" %}
{% block title %}{{ event.title }}{% endblock %}
{% block content %}

<div class="container p-5 text-md-start">
  <h1 class="mb-3">Welcome, <span class="text-success">{{ username }}</span>😁 </h1>
<h3 class="mb-5">Here are your events:</h3>

{% if events %}
  <ul>
    {% for event in events %}
    <li>
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
        <p>{{ event.date }}</p>
        <p>{{ event.location }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No events created.</p>
{% endif %}
</div>
{% endblock %}
