{% extends "events/layout.html" %}
{% block title %}{{ event.title }}{% endblock %}
{% block content %}

<body>
  <div class="container px-5" style="margin: 20vh auto; text-align: center;">
    <h1>{{ event.title }}</h1>
  <p>{{ event.description }}</p>
  <p><strong>Date:</strong> {{ event.date }}</p>
  <p><strong>Location:</strong> {{ event.location }}</p>
  <a href="{% url 'events' %}" class="btn btn-warning border border-3 border-dark me-3">Back to Event List</a>
  <a href="{% url 'events' %}" class="btn btn-secondary border border-dark border-3">Register</a>
  </div>
</body>
{% endblock %}
